{% extends 'base.html' %}

{% block content %}
  <h1>{{ concert.title }}</h1>
  <p>Artist: {{ concert.artist }}</p>
  <p>Date: {{ concert.date }}</p>
  <p>Venue: {{ concert.venue }}</p>
  <p>Description: {{ concert.description }}</p>

  <div>
    <a href="{% url 'ticket-list' %}?concert_id={{ concert.id }}" class="btn btn-primary">View Tickets</a>
  </div>
  <br>
  <div>
    <a href="{% url 'index' %}" class="btn btn-primary">Back to Concerts</a>
  </div>
  <div>
    <form method="post" action="{% url 'add-to-attended' concert.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Add to Attended</button>
    </form>
  </div>
{% endblock %}
