{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to SwiftSeats</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mauris non lacus ullamcorper aliquam.</p>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula tincidunt est id sagittis. Duis ac dui id ligula laoreet cursus. Sed eu ante nec leo pulvinar feugiat.</p>
    </div>
  </div>
{% endblock %}