body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #f8f8f8;
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2a153d;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-nav .nav-link {
  font-size: 16px;
  color: white;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #ffc0cb;
}

.btn-primary {
  background-color: #2a153d;
  border-color: #2a153d;
  color: white;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  color: white;
}

.btn-danger {
  background-color: #2a153d;
  border-color: #2a153d;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #ffc0cb;
  border-color: #ffc0cb;
}

.card {
  border: none;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2a153d;
}

.card-text {
  color: #777;
}

footer {
  padding-top: 20px;
  text-align: center;
  background-color: #2a153d;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ffc0cb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #ffc0cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
  text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
  text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0,);
}