{% extends 'base.html' %}

{% block content %}

  {% if concerts %}

    <h1 class="pb-2 border-bottom">Attended Concerts</h1>

    {% for concert in attended_concerts %}
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title">{{ concert.title }}</h3>
          <p class="card-text">Artist: {{ concert.artist }}</p>
          <p class="card-text">Date: {{ concert.date }}</p>
          <p class="card-text">Venue: {{ concert.venue }}</p>
          <div class="btn-group">
            <a href="{% url 'edit-concert' concert.id %}" class="btn btn-primary">Edit</a>
            <form method="post" action="{% url 'concert-delete' concert.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Delete</button>
            </form>
          </div>
          <br>
          {% for photo in concert.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}" alt="Concert Photo">
          {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
          {% endfor %}
          <br>
          <form action="{% url 'add_photo' concert.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button class="btn btn-primary" type="submit">Upload Photo</button>
          </form>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <h1>No attended concerts found.</h1>
  {% endif %}

{% endblock %}
